.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

cockroach.zip

cockroach/cockroach-v21.2.3.windows-6.2-amd64/cockroach.exe

cockroach/cockroach-v21.2.3.windows-6.2-amd64/lib/libgeos_c.dll

cockroach/cockroach-v21.2.3.windows-6.2-amd64/lib/libgeos.dll
